<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Xe</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Semantic UI CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css"
    />
  </head>
  <body>
    <div class="ui container" style="margin-top: 20px">
      <h1 class="ui header">Quản lý Xe</h1>
    </div>
  </body>
</html>
